.landing_page {
  background: url("../../images/landing.gif");
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.active_images {
  width: 200px;
  height: 200px;
}
.active_images1{
  width: 200px;
  height: 200px;
  padding: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  align-items: center;
  justify-content: center;
  max-width: 790px;
  width: 100%;
  margin: auto;
  min-height: calc(100vh - 50px - 90px);
  height: 100%;
}

.about>p {
  text-align: center;
  font-size: var(--h3-size);
  font-weight: var(--leading-5);
  color: #ffffff;
  line-height: 1.5;

}

.about>.about_heading {
  font-size: var(--h1-size);
  font-weight: var(--leading-7);
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}

.about>.active_heading {
  font-size: var(--h2-sm-size);
  font-weight: var(--leading-7);
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
}

.about>.about_subheading {
  font-size: var(--h2-sm-size);
  font-weight: var(--leading-6);
  color: #ffffff;
  text-transform: capitalize;
}

.about>.input_container {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
  width: 70%;
}

.about>.input_container>label {
  font-size: var(--h4-size);
  color: var(--black);
  font-weight: bold;
  text-transform: capitalize;
  font-weight: var(--leading-5);
}

.about>.input_container>input {
  padding: var(--btn-pad);
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  font-size: var(--btn-font-size);
  font-weight: var(--leading-6);
  color: black;
}

.about>.input_container>textarea {
  padding: var(--btn-pad);
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  font-size: var(--btn-font-size);
  font-weight: var(--leading-6);
}

.about>.submit_btn {
  padding: var(--btn-pad);
  background: var(--primary);
  outline: none;
  text-transform: capitalize;
  border: none;
  font-size: var(--btn-font-size);
  border-radius: var(--border-radius);
  color: var(--black);
  font-weight: var(--leading-6);
  cursor: pointer;
  width: 40%;
}

.about>.submit_btn:hover {
  background: var(--primary-dark);
}

@media screen and (max-width: 380px) {
  .about {
    gap: var(--gap-1);
    min-height: calc(100vh - 36px - 101px);

  }

  .about>p {
    font-size: var(--h3-md-size);
    font-weight: var(--leading-5);
    margin-inline: 10px
  }

  .about>.about_heading {
    font-size: var(--h1-sm-size);
    font-weight: var(--leading-6);
    text-align: center;
  }

  .about>.about_subheading {
    font-size: var(--h3-size);
    font-weight: var(--leading-5);
  }
}