.landing_page {
  background: url("../../images/landing.gif");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  align-items: center;
  justify-content: center;
  max-width: 790px;
  width: 100%;
  margin: auto;
  min-height: calc(100vh - 50px - 90px);
  height: 100%;
}
.about > p {
  text-align: center;
  font-size: var(--h3-size);
  font-weight: var(--leading-5);
  color: #ffffff;
  line-height: 1.5;

}
.about > .about_heading {
  font-size: var(--h1-size);
  font-weight: var(--leading-7);
  color: #ffffff;
  text-transform: capitalize;
}
.about > .about_subheading {
  font-size: var(--h2-sm-size);
  font-weight: var(--leading-6);
  color: #ffffff;
  text-transform: capitalize;
}

@media screen and (max-width: 660px) {
  .about {
    gap: var(--gap-1);
  min-height: calc(100vh - 36px - 70px);

  }
  .about > p {
    font-size: var(--h3-md-size);
    font-weight: var(--leading-4);
  }
  .about > .about_heading {
    font-size: var(--h1-sm-size);
    font-weight: var(--leading-6);
  }
  .about > .about_subheading {
    font-size: var(--h3-size);
    font-weight: var(--leading-5);
  }
}
