.dashboard_container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 100vh;
  height: calc(100vh - 40px);
  min-height: 100%;
  padding-right: 0;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}

.dashboard_container>.header {
  display: none;
}

.close_btn {
  display: none;
}

.dashboard {
  display: flex;
  height: inherit;
  transition: all 0.3s ease-in-out;
}

.side_menu {
  width: var(--side-menu-width);
  padding: 20px;
  padding-right: 0;
  transition: all 0.3s ease-in-out;

  height: inherit;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.side_menu::-webkit-scrollbar {
  display: none;
}

.side_menu>.menu_container {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
  height: inherit;
}

.nav_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

.nav_container>button {
  position: relative;
  padding: var(--btn-pad);
  background: var(--primary);
  outline: none;
  text-transform: capitalize;
  border: none;
  font-size: var(--btn-font-size);
  border-radius: var(--border-radius);
  color: var(--black);
  font-weight: var(--leading-6);
  cursor: pointer;
  bottom: 10%;
}

.menu_list {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
}

.menu_list>.menu_item {
  padding: var(--side-menu-pad);
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: var(--gap);
}

.menu_list>.menu_item.active {
  background: linear-gradient(90deg, #fda925 0%, rgba(0, 0, 0, 0) 1000%);
  border-radius: 12px;
  border: 1px solid #68450F;
  border-right: 4px solid #68450F;
}

.menu_list>.menu_item>img {
  width: 20px;
  height: 20px;
}

.menu_list>.menu_item>span {
  text-transform: capitalize;
}

.logout_btn {
  position: relative;
  /* bottom: 10%; */
  /* padding: var(--side-menu-pad); */
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: var(--gap);
  margin-top: 30px;
  border-radius: 12px;
  /* border: 1px solid #333;
  border-right: 4px solid #333; */
  /* align-items: center; */
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  /* background-image: linear-gradient(135deg, #59abe5 10%, #0396FF 100%); */
  /* background-image: linear-gradient(to right, #4491de 0%, #569bdf 61%, #4491de 100%); */
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  transition: all 250ms;
  touch-action: manipulation;

}

.logout_btn:hover,
.logout_btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.logout_btn:hover {
  transform: translateY(-1px);
}

.logout_btn:hover {
  /* background: linear-gradient(90deg, #333 0%, rgba(0, 0, 0, 0) 70%); */

}

.logout_btn>.icon {
  font-size: 20px;
}

.logout_btn>.text {
  text-transform: capitalize;
  color: #ffffff;
}


@media screen and (max-width: 768px) {
  .close_btn {
    display: block;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
  }

  .dashboard_container>.header {
    display: flex;
    padding: var(--div-pad);
    justify-content: space-between;
    position: sticky;
    z-index: 99;
    background-color: black;
    top: 0;
  }

  .dashboard_container>.header>.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: var(--border-radius);

    font-size: 50px;
  }

  .dashboard_container>.header>.connect_wallet_btn {
    padding: var(--btn-sm-pad);
    background: var(--primary);
    outline: none;
    text-transform: capitalize;
    border: none;
    font-size: var(--btn-sm-font-size);
    border-radius: var(--sm-border-radius);
    color: var(--black);
    font-weight: var(--leading-5);
    cursor: pointer;
  }

  .dashboard_container {
    height: auto;
  }

  .side_menu {
    position: fixed;
    padding: 10px !important;
    padding-top: 30px !important;
    background-color: var(--white);
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    overflow-y: scroll;
    width: 100%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
  }

  .side_menu::-webkit-scrollbar {
    display: none;
  }

  .nav_container>button {
    display: none;
  }

  .hide {
    transform: translateX(-100%);
  }

  .dashboard {
    gap: var(--gap);
    /* height: calc(100vh - 80px);
    min-height: 100%;
    overflow-y: auto; */
  }

  .side_menu {
    padding: 10px;
  }

  .side_menu>.menu_container {
    row-gap: var(--sm-gap);
  }

  .menu_list {
    row-gap: var(--sm-gap);
  }

  .menu_list>.menu_item {
    padding: var(--side-menu-sm-pad);
    gap: var(--sm-gap);
  }

  .menu_list>.menu_item.active {
    border-radius: 12px;
    border-right: 3px solid #333;
  }

  .menu_list>.menu_item>img {
    width: 15px;
    height: 15px;
  }

  .logout_btn {
    display: none;
  }

  .header_logout {
    padding: 6px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    background: linear-gradient(90deg, #333 0%, rgba(0, 0, 0, 0) 70%);
    border-radius: 8px;
    border: 1px solid #333;
    border-right: 3px solid #333;
  }

  .header_logout>.icon {
    font-size: 15px;
  }

  .header_logout>.text {
    text-transform: capitalize;
    font-size: 15px;
    color: #ffffff;
  }
}