.home_container {
  background: url("../../images/home.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 550px;
  border-radius: 20px;
  width: 100%;
  padding: 20px 0;
  border: 1px solid var(--header-border);
  position: relative;
}
.home_content {
  position: absolute;
  bottom: 0;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: flex-start;
}
.home_content > .home_about {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.home_content .home_about > h2 {
  font-size: var(--h2-size);
  font-weight: var(--leading-6);
  color: var(--white);
}
.home_content .home_about > p {
  font-size: 20px;
  color: var(--white);
  font-weight: var(--leading-4);
}
.primary {
  color: white;
  background-color: var(--primary);
  font-weight: var(--leading-6);
}
.node_services {
  display: flex;
  flex-direction: column;
  gap: calc((var(--gap)) * 3);
  padding: var(--div-pad);
}
.node_services > h3 {
  font-size: var(--h3-size);
  font-weight: var(--leading-6);
}
.node_services > .infrastructure_container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.node_services > .infrastructure_container > .benefits {
  max-width: 790px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.node_services > .infrastructure_container > .benefits > h2 {
  font-size: var(--h2-size);
}
.node_services > .infrastructure_container > .benefits > p {
  font-size: 20px;
  font-weight: var(--leading-4);
}
.node_services > .infrastructure_container > .services_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: var(--gap);
}

.choose_plan_container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 2);
  padding: var(--div-pad);
}
.choose_plan_container > h3 {
  font-size: var(--h3-size);
  font-weight: var(--leading-6);
}
.choose_plan_container > .plan_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: var(--gap);
}

@media screen and (max-width: 768px) {
  .home_container {
    border-radius: 0;
    min-height: 300px;
    padding: 0;
  }
  .home_content {
    padding: 10px;
    gap: var(--sm-gap);
  }

  .home_content > .home_about > h2 {
    font-size: var(--h2-sm-size);
  }
  .home_content > .home_about > p {
    font-size: 16px;
  }
  .choose_plan_container > .plan_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: var(--gap);
  }

  .primary {
    font-weight: var(--leading-4);
  }
  .node_services {
    gap: calc((var(--gap)) * 2);
    padding: var(--div-sm-pad);
  }
  .node_services > h3 {
    font-size: var(--h3-sm-size);
  }
  .node_services > .infrastructure_container {
    gap: var(--sm-gap);
  }
  .node_services > .infrastructure_container > .benefits {
    gap: var(--sm-gap);
  }
  .node_services > .infrastructure_container > .benefits > h2 {
    font-size: var(--h2-sm-size);
  }
  .node_services > .infrastructure_container > .benefits > p {
    font-size: 16px;
    font-weight: var(--leading-4);
  }
  .node_services > .infrastructure_container > .services_container {
    gap: var(--sm-gap);
  }

  .choose_plan_container {
    gap: calc(var(--gap) * 1);
    padding: var(--div-sm-pad);
  }
  .choose_plan_container > h3 {
    font-size: var(--h3-sm-size);
  }
}
