.update_node_form{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
}

@media screen and (max-width: 768px) {
    .update_node_form {
        gap: var(--sm-gap);
    }
    
}