@keyframes deployAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.landing_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
 .icon {
  color: white;
  margin: 10px;
  font-size: var(--h2-size);
  cursor: pointer;
}
.landing_header > .side_heading {
  color: white;
  font-size: var(--h2-size);
  /* font-weight: var(--leading-8); */
  text-transform: capitalize;
}
.landing_header > .brand {
  /* margin-right: 60px; */
  width: var(--logo-width);
  height: var(--logo-height);
}

.landing_header > .text_logo {
  width: 25%; 
}

/* @media screen and (max-width: 80px) {
  .landing_header {
    padding: 08px 16px;
  }
  .landing_header > .side_heading {
    display: none;
  }
  .landing_header > .brand {
    width: var(--logo-md-width);
    height: var(--logo-md-height);
  }
} */
.landing_header > .social_icons {
  background-size: 100% 100%, 100% 100%;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: top left, top right;
  border-radius: 30px;
  color: #ffffff;
  font-size: var(--h2-sm-size);
  text-transform: capitalize;
  font-weight: var(--leading-5);
  position: relative;
  overflow: hidden;
}
.landing_header > .launch_btn {
  background-image: linear-gradient(
      to bottom right,
      #52525b,
      rgba(82, 82, 91, 0)
    ),
    linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));

  background-size: 100% 100%, 100% 100%;
  background-repeat: no-repeat;
  background-position: top left, top right;
  border-radius: 30px;
  padding: 12px 24px;
  color: #ffffff;
  font-size: var(--h2-sm-size);
  text-transform: capitalize;
  font-weight: var(--leading-5);
  position: relative;
  overflow: hidden;
}

.landing_header > .launch_btn .bi-rocket {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 1.5em;
  transition: transform 0.3s ease;
}

.landing_header > .launch_btn:hover .bi-rocket {
  transform: translateX(80%);
}

.landing_header > .launch_btn:hover {
  animation: deployAnimation 1.5s ease infinite;
  background-color: #ffffff !important;
  color: linear-gradient(to bottom right, #52525b, rgba(82, 82, 91, 0)) ,
    linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)) !important;
}

@media screen and (max-width: 660px) {
  .icon {
    color: white;
    margin: 10px;
    font-size: var(--h2-size-sm);
    cursor: pointer;
  }
  .landing_header > .brand {
    margin-right: 0px !important;
  }
  .landing_header > .launch_btn {
    padding: 8px 16px;
    font-size: 12px;
  }
  .landing_header > .side_heading {
    color: white;
    font-size: var(--h4-size);
    /* font-weight: var(--leading-8); */
    text-transform: capitalize;
  }
  .landing_header > .text_logo {
    width: 30% !important;
   
  }
}

@media screen and (max-width: 380px) {
  .landing_header > .launch_btn {
    padding: 5px 10px;
    font-size: 8px;
  }
  .landing_header > .side_heading {
    color: white;
    font-size: var(--h6-size);
    /* font-weight: var(--leading-8); */
    text-transform: capitalize;
  }
  .landing_header > .brand {
    margin-right: 0px !important;
    width: 35px !important;
    height: 35px !important;
  }

  .landing_header > .text_logo {
    width: 30% !important;
   
  }
}
