.footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  /* padding: 10px 20px; */
  background-color: rgba(0, 0, 0, 0.3);
  gap: var(--gap);
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
}

.footer>.text {
  color: white;
  font-size: var(--h3-size);
  font-weight: var(--leading-4);
  cursor: pointer;
}

.footer>.icon {
  color: white;
  font-size: var(--h2-sm-size);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 08px 16px;
  }

  .footer>.text {
    font-size: var(--h3-sm-size);
    font-weight: var(--leading-3);
  }

  .footer>.icon {
    color: white;
    font-size: var(--h2-size);
  }
}