.all_votes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--gap);
}

@media screen and (max-width: 768px) {
  .all_votes {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--sm-gap);
  }
}

@media screen and (max-width: 660px) {
  .all_votes {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
