@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --leading-1: 100;
  --leading-2: 200;
  --leading-3: 300;
  --leading-4: 400;
  --leading-5: 500;
  --leading-6: 600;
  --leading-7: 700;
  --leading-8: 800;
  --leading-9: 900;
  --div-pad: 20px 30px;
  --div-sm-pad: 15px;
  --card-pad: 16px;
  --card-sm-pad: 10px;
  --h2-size: 40px;
  --h2-sm-size: 30px;
  --h3-size: 20px;
  --h3-sm-size: 18px;
  --h4-size: 18px;
  --h4-sm-size: 16px;
  --layout-width: 1200px;
  --full-width: 100%;
  --header-pad: 18px;
  --header-sm-pad: 15px;
  --white: #ffffff;
  --black: rgba(0, 0, 0, 0.4);
  --btn-pad:10px 15px;

  --black--light: #ffffff;
  --primary-light: #29dbb2;

  --header-border: #edf0f2;
  --logo-width: 50px;
  --logo-height: 40px;
  --logo-md-width: 40px;
  --logo-md-height: 30px;
  --gap: 12px;
  --sm-gap: 10px;
  --side-menu-width: 250px;

  --primary: #29dbb2;
  --secondary: #f0f5f2;
  --nav-sm-pad: 20px;
  --btn-font-size: 14px;
  --btn-sm-font-size: 12px;
  --border-radius: 5px;
  --sm-border-radius: 3px;
  --btn-sm-font-size: 12px;
  --list-font-size: 18px;
  --list-sm-font-size: 16px;
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  --dashboard-pad: 20px;
  --dashboard-sm-pad: 15px;
  --dashboard-border-radius: 20px;
  --side-menu-pad:15px;
  

}

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
}
#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

body[data-theme="light"] {
  /* Light theme styles */
  background-color: #fff;
  color: #333333;
}
body[data-theme="dark"] {
  /* Dark theme styles */
  background-color: #000000;
  color: #fff;
  --primary: #1980e5;
  --primary-dark: #1980e5;
  --black--light: #000000;
  --white: #000000;
  --secondary: #333333;
  --black: #ffffff;
  --box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px !important;
  height: 30px !important ;
}
.react-toggle--checked .react-toggle-track {
  /* background-color: var(--primary); */
  background-color: var(--primary-dark) !important;
}
.react-toggle-track {
  background-color: var(--primary-light) !important;
}
.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  /* transform: translate(-50%, -50%); */
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  transition: opacity 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-toggle-thumb {
  top: 50% !important;

  transform: translateY(-50%) !important;

  width: 18px !important;
  height: 18px !important;
  background-color: gray !important;
}

.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0 0 2px 3px white !important;
  border-color: #000 !important;
}
.react-toggle .react-toggle--checked .react-toggle--focus {
  background-color: #000 !important;
}
.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  box-shadow: none !important;
}
.react-toggle-track-x {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  /* transform: translate(-50%, -50%); */
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 8px;
  opacity: 0;
  transition: opacity 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}
.container {
  max-width: var(--layout-width);
  width: 100%;
  margin: 0 auto;
}
.red {
  fill: red !important;
}
.green {
  fill: green !important;
}
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: capitalize;
  font-size: var(--btn-font-size);
  outline: none;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 10px 15px;
    font-size: var(--btn-sm-font-size);
  }
  .icon {
    width: 20px !important;
    height: 20px !important ;
  }
}
