@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --leading-1: 100;
  --leading-2: 200;
  --leading-3: 300;
  --leading-4: 400;
  --leading-5: 500;
  --leading-6: 600;
  --leading-7: 700;
  --leading-8: 800;
  --leading-9: 900;
  --rounded-sm: 05px;
  --rounded-md: 8px;
  --rounded-lg: 10px;
  --rounded-xl: 12px;
  --rounded-2xl: 14px;
  --div-pad: 20px 30px;
  --div-sm-pad: 15px;
  --card-pad: 16px;
  --card-sm-pad: 10px;
  --h1-size: 50px;
  --h1-sm-size: 40px;
  --h2-size: 40px;
  --h2-sm-size: 30px;
  --h3-size: 20px;
  --h3-sm-size: 18px;
  --h4-size: 18px;
  --h4-sm-size: 16px;
  --p-size: 16px;
  --p-md-size: 14px;
  --p-sm-size: 12px;
  --layout-width: 1200px;
  --full-width: 100%;
  --header-pad: 18px;
  --header-sm-pad: 15px;
  --white: #ffffff;
  --black: rgba(0, 0, 0, 0.4);
  --btn-pad: 12px 24px;
  --btn-sm-pad: 8px 12px;
  --black--light: #ffffff;
  --primary-light: #29dbb2;
  --bg-linear-gradient: linear-gradient(90deg, #29dbb2 0%, #1980e5 100%);

  --header-border: #edf0f2;
  --logo-width: 80px;
  --logo-height: 70px;
  --logo-md-width: 60px;
  --logo-md-height: 45px;
  --gap-one-half: 5px;
  --gap-1: 8px;
  --gap-2: 16px;
  --text-sm: 08px;
  --text-md: 12px;
  --text-lg: 16px;
  --text-xl: 20px;
  --text-2xl: 24px;

  --gap: 12px;
  --sm-gap: 10px;
  --card-gap: 3px;
  --side-menu-width: 250px;
  --primary: #29dbb2;
  --primary-dark: #1980e5;
  --secondary: #f0f5f2;
  --nav-sm-pad: 20px;
  --btn-font-size: 14px;
  --btn-sm-font-size: 12px;
  --border-radius: 5px;
  --sm-border-radius: 3px;
  --btn-sm-font-size: 12px;
  --list-font-size: 18px;
  --list-sm-font-size: 16px;
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  --dashboard-pad: 20px;
  --dashboard-sm-pad: 15px;
  --dashboard-border-radius: 20px;
  --dashboard-sm-border-radius: 15px;
  --dashboard-card-border-radius: 12px;
  --dashboard-sm-card-border-radius: 10px;
  --card-border-radius: 1rem;
  --card-sm-border-radius: 0.8rem;
  --stats-box-pad: 50px;
  --stats-box-sm-pad: 40px;
  --side-menu-pad: 15px;
  --side-menu-sm-pad: 10px;
  --card-icon-size: 40px;
  --card-sm-icon-size: 30px;
  --card-h4-size: 26px;
  --card-sm-h4-size: 18px;
  --card-span-size: 24px;
  --card-sm-span-size: 14px;
  --brand-pic-size: 40px;
  --brand-sm-pic-size: 30px;
  --grey-bg: #27272a;
  --border-radius-full: 50%;
  --pointer: pointer;
  --pad-one-fourth: 03px;
  --pad-one-half: 05px;
  --pad-one-quarter: 07px;
  --pad-1: 10px;
  --pad-one-and-half: 15px;
  --pad-2: 20px;
  --form-max-width: 820px;
  --border-size: 1px;
  --node-image-size: 80px;
  --node-md-image-size: 60px;
  --node-sm-image-size: 40px;
}

body {
  font-family: "Red Hat Display", sans-serif;

  position: relative;
  overflow-x: hidden;
  line-height: 1;
  height: 100vh;
  /* min-height: 100%;
  overflow-y: auto; */
}

#root {
  height: inherit;
}

body[data-theme="light"] {
  /* Light theme styles */
  background-color: #fff;
  color: #333333;
}

body[data-theme="dark"] {
  /* Dark theme styles */
  background-image: linear-gradient(90deg, #122555 0%, rgba(0, 0, 0, 0) 200%) !important;
  color: #fff;
  --primary: #1980e5;

  --primary-dark: #1980e5;
  --black--light: #000000;
  --white: #000000;
  --secondary: #333333;
  --black: #ffffff;
  --box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  --black: #ffffff;
}

a {
  text-decoration: none;
  color: white;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px !important;
  height: 30px !important;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: var(--layout-width);
  width: 100%;
  margin: 0 auto;
}

.red {
  fill: red !important;
}

.green {
  fill: green !important;
}

.btn {
  padding: var(--btn-pad);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: capitalize;
  font-size: var(--h3-size);
  outline: none;
  /* color: var(--black); */
  font-weight: var(--leading-6);
  cursor: pointer;
  /* width: 100%; */
}

.right_dashboard {
  width: calc(100% - var(--side-menu-width));
  padding: 20px;

  height: inherit;
  /* padding: var(--dashboard-pad); */
  padding-right: 20px;
  overflow-y: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.right_dashboard::-webkit-scrollbar {
  display: none;
}

.right_container {
  display: flex;
  /* height: inherit; */
  /* overflow-y: auto; */
  flex-direction: column;
  row-gap: var(--gap);
  /* border: 2px solid red; */

  background: linear-gradient(90deg, #052560 0%, rgba(0, 0, 0, 0) 200%);
  padding: var(--dashboard-pad);
  border-radius: var(--dashboard-border-radius);
}

.right_container::-webkit-scrollbar {
  display: none;
}

.crud_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.primary {
  background: var(--primary);
}

.secondary {
  background: #29dbb2;
}

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 250, 250, 0.1);
  z-index: 999;
  display: flex;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(9px);
}

.popbox {
  max-height: 60vh;
  max-width: 390px;
  height: auto;
  width: 100%;
  background-color: var(--black--light);
  border-radius: var(--card-border-radius);
  padding: var(--card-pad);
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  margin: 5px;
  gap: var(--gap);
}

.popbox::-webkit-scrollbar {
  display: none;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.right>.close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--brand-pic-size) / 2);
  height: calc(var(--brand-pic-size) / 2);
  background-color: var(--grey-bg);
  border-radius: var(--border-radius-full);
  cursor: var(--pointer);
}

.page_header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.display_between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: var(--btn-sm-pad);
    font-size: var(--h3-sm-size);
  }

  .icon {
    width: 20px !important;
    height: 20px !important;
  }

  .popbox {
    border-radius: var(--card-sm-border-radius);
    padding: var(--card-sm-pad);
  }
}