@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --leading-1: 100;
  --leading-2: 200;
  --leading-3: 300;
  --leading-4: 400;
  --leading-5: 500;
  --leading-6: 600;
  --leading-7: 700;
  --leading-8: 800;
  --leading-9: 900;
  --div-pad: 20px 30px;
  --div-sm-pad: 15px;
  --card-pad: 16px;
  --card-sm-pad: 10px;
  --h2-size: 40px;
  --h2-sm-size: 30px;
  --h3-size: 20px;
  --h3-sm-size: 18px;
  --h4-size: 18px;
  --h4-sm-size: 16px;
  --layout-width: 1200px;
  --full-width: 100%;
  --header-pad: 18px;
  --header-sm-pad: 15px;
  --white: #ffffff;
  --black: rgba(0, 0, 0, 0.4);
  --btn-pad: 10px 15px;
  --btn-sm-pad: 8px 12px;

  --black--light: #ffffff;
  --primary-light: #29dbb2;

  --header-border: #edf0f2;
  --logo-width: 50px;
  --logo-height: 40px;
  --logo-md-width: 40px;
  --logo-md-height: 30px;
  --gap: 12px;
  --sm-gap: 10px;
  --card-gap: 3px;
  --side-menu-width: 250px;
  --primary: #29dbb2;
  --primary-dark: #1980e5;
  --secondary: #f0f5f2;
  --nav-sm-pad: 20px;
  --btn-font-size: 14px;
  --btn-sm-font-size: 12px;
  --border-radius: 5px;
  --sm-border-radius: 3px;
  --btn-sm-font-size: 12px;
  --list-font-size: 18px;
  --list-sm-font-size: 16px;
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  --dashboard-pad: 20px;
  --dashboard-sm-pad: 15px;
  --dashboard-border-radius: 20px;
  --dashboard-sm-border-radius: 15px;
  --dashboard-card-border-radius: 12px;
  --dashboard-sm-card-border-radius: 10px;
  --stats-box-pad: 50px;
  --stats-box-sm-pad: 40px;
  --side-menu-pad: 15px;
  --side-menu-sm-pad: 10px;
  --card-icon-size: 40px;
  --card-sm-icon-size: 30px;
  --card-h4-size: 26px;
  --card-sm-h4-size: 18px;
  --card-span-size: 24px;
  --card-sm-span-size: 14px;
}

body {
  font-family: "Red Hat Display", sans-serif;

  position: relative;
  overflow-x: hidden;
  height: 100vh;
  /* min-height: 100%;
  overflow-y: auto; */
  
}


#root{
  height: inherit;
}

body[data-theme="light"] {
  /* Light theme styles */
  background-color: #fff;
  color: #333333;
}
body[data-theme="dark"] {
  /* Dark theme styles */
  background-color: #000000;
  color: #fff;
  --primary: #1980e5;
  --primary-dark: #1980e5;
  --black--light: #000000;
  --white: #000000;
  --secondary: #333333;
  --black: #ffffff;
  --box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}
a {
  text-decoration: none;
  color: white;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px !important;
  height: 30px !important ;
}

li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}
.container {
  max-width: var(--layout-width);
  width: 100%;
  margin: 0 auto;
}
.red {
  fill: red !important;
}
.green {
  fill: green !important;
}
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: capitalize;
  font-size: var(--btn-font-size);
  outline: none;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 10px 15px;
    font-size: var(--btn-sm-font-size);
  }
  .icon {
    width: 20px !important;
    height: 20px !important ;
  }
}
