.right_dashboard > .right_container > .dashboard_grid {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
}

@media screen and (max-width: 768px) {
  .right_dashboard {
    width: 100%;
    padding: 10px;
  }

  .right_dashboard > .right_container {
    row-gap: var(--sm-gap);

    padding: var(--dashboard-sm-pad);
    border-radius: 0;
  }

  .right_dashboard > .right_container > .dashboard_grid {
    gap: var(--sm-gap);
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}
