.right_dashboard {
  width: calc(100% - var(--side-menu-width));
  padding: 20px;

  height: inherit;
  /* padding: var(--dashboard-pad); */
  padding-right: 0;
  /* overflow-y: auto;  */

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.right_dashboard::-webkit-scrollbar {
  display: none;
}
.right_dashboard > .right_container {
  display: flex;
  height: inherit;
  overflow-y: auto;
  flex-direction: column;
  row-gap: var(--gap);

  background: var(--secondary);
  padding: var(--dashboard-pad);
  border-radius: var(--dashboard-border-radius);
}
.right_dashboard > .right_container::-webkit-scrollbar {
  display: none;
}
.right_dashboard > .right_container > .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right_dashboard > .right_container > .header > span {
  background-color: black;
  padding: var(--btn-pad);

  border-radius: var(--border-radius);
  font-size: var(--btn-font-size);
  font-weight: var(--leading-4);
  text-transform: capitalize;
}
.right_dashboard > .right_container > .header > .connect_wallet_btn {
  display: block;
  padding: var(--btn-pad);
  background: var(--primary);
  outline: none;
  text-transform: capitalize;
  border: none;
  font-size: var(--btn-font-size);
  border-radius: var(--border-radius);
  color: var(--black);
  font-weight: var(--leading-6);
  cursor: pointer;
}
.right_dashboard > .right_container > .dashboard_grid {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
}

.right_dashboard > .right_container > h2 {
  font-size: var(--h3-size);
  color: var(--black);
  font-weight: bold;
  font-weight: var(--leading-8);
}

@media screen and (max-width: 768px) {
  .right_dashboard {
    width: 100%;
    padding: 10px;
  }
  .right_dashboard > .right_container > .header > .connect_wallet_btn {
    display: none;
    padding: var(--btn-sm-pad);
    font-size: var(--btn-sm-font-size);
    border-radius: var(--sm-border-radius);
    color: var(--black);
    font-weight: var(--leading-4);
  }
  .right_dashboard > .right_container {
    row-gap: var(--sm-gap);

    padding: var(--dashboard-sm-pad);
    border-radius: 0;
  }

  .right_dashboard > .right_container > .header > span {
    background-color: black;
    padding: var(--btn-sm-pad);

    border-radius: var(--sm-border-radius);
    font-size: var(--btn-sm-font-size);
    font-weight: var(--leading-3);
  }

  .right_dashboard > .right_container > .dashboard_grid {
    gap: var(--sm-gap);
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }

  .right_dashboard > .right_container > h2 {
    font-size: var(--h3-sm-size);
    color: var(--black);
    font-weight: var(--leading-5);
  }
}
