.round-img-container {
  width: 60px;
  /* Adjust according to your desired smaller size */
  height: 60px;
  /* Adjust according to your desired smaller size */
  border-radius: 50%;
  /* This creates a circular shape */
  overflow: hidden;
  /* Ensures the image stays within the container */
  /* padding-bottom: 10px; */
}

.round-img-container img {
  width: 100%;
  /* Ensures the image fills the container */
  height: 100%;
  /* Maintains aspect ratio */
  display: block;
  /* Removes any default spacing */
  /* padding-bottom: 10px; */

}

.title_container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  /* border: 3px solid red; */
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header>span {
  /* background-color: var(--wui-color-accent-100);
  padding: var(--btn-pad); */
  padding-bottom: 20px;
  border-radius: var(--border-radius);
  font-size: var(--btn-font-size);
  font-weight: var(--leading-4);
  text-transform: capitalize;
}

.header>.connect_wallet_btn {
  display: block;
  padding: var(--btn-pad);
  /* background: var(--primary); */
  background: linear-gradient(90deg, #fda925 0%, rgba(0, 0, 0, 0) 1000%);
  outline: none;
  text-transform: capitalize;
  border: none;
  font-size: var(--btn-font-size);
  border-radius: var(--border-radius);
  color: var(--black);
  font-weight: var(--leading-6);
  cursor: pointer;
}

.page_title {
  font-size: var(--h3-size);
  color: var(--black);
  font-weight: bold;
  font-weight: var(--leading-8);
}

@media screen and (max-width: 768px) {
  .title_container {
    gap: var(--sm-gap);
  }

  .header>.connect_wallet_btn {
    /* display: none; */
    padding: var(--btn-sm-pad);
    font-size: var(--btn-sm-font-size);
    border-radius: var(--sm-border-radius);
    color: var(--black);
    font-weight: var(--leading-4);
  }

  .header>span {
    /* background-color: var(--wui-color-accent-100);
    padding: var(--btn-sm-pad); */
    border-radius: var(--sm-border-radius);
    font-size: var(--btn-sm-font-size);
    font-weight: var(--leading-3);
  }

  .page_title {
    font-size: var(--h3-sm-size);
    color: var(--black);
    font-weight: var(--leading-5);
  }
}